:root {
    --background-image: url("../img/background.jpg");
    /* Photo by Mathias Reding*/
    --profile-image: url("../img/profile-pic.jpg");
    /* Photo by Jude Mitchellhedges*/
    --button-text-color: #FF00B3;
    --text-color: #FFFFFF;
}

html,
body {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background-image: var(--background-image);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

h1 {
    color: var(--text-color);
    font-size: 20px;
    font-weight: 700;
    margin-top: 0;
}

h2 {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 500;
}

p {
    color: white;
    font-size: 10px;
}

footer {
    flex-shrink: 1;
    text-align: center;
}

#qr-code-image>img {
    margin-left: auto;
    margin-right: auto;
}

.content {
    flex: 0.99 0 auto;
    padding: 64px 16px 32px;
    width: 680px;
}

.mdc-layout-grid__cell {
    text-align: center;
}

.mdc-button {
    background-color: white !important;
    color: var(--button-text-color) !important;
    height: 44px;
    height: auto;
    padding: 16px;
    width: 100%;
    border-radius: 12px;
}

.mdc-button.display-qr-code {
    background-color: transparent !important;
    width: auto;
}

.mdc-button--outlined:not(:disabled) {
    border-color: var(--button-text-color) !important;
}

.mdc-icon-button svg {
    height: 48px;
    width: 48px;
}

.profile-pic {
    content: var(--profile-image);
    background-size: contain;
    display: inline-block;
    width: 96px;
    height: 96px;
    border-radius: 50%;
    object-fit: cover;
}

.social-icons {
    margin: 10px;
}

.youtube-link {
    height: 96px;
    width: 96px;
}

@media only screen and (max-width: 768px) {
    .content {
        width: 100%;
    }
}